In [334]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['df_2000_2001.csv.gz',
 'df_2000_2001_budget_revenue_title_cert.csv.gz',
 'df_clean_basics.csv.gz',
 'final_basics_df.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_results_combined.csv.gz']

In [335]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/movies"
engine = create_engine(connection)

In [336]:
if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

The database already exists.

In [337]:
basics = pd.read_csv('Data/title_basics.csv.gz', low_memory=False)
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,"Action,Crime"
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
3,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,Drama
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
...,...,...,...,...,...,...,...,...,...
180038,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"
180039,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War"
180040,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
180041,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
180042,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N

In [338]:
basics = basics.replace({'\\N':np.nan})
basics.dropna(subset=['genres'], inplace=True)

In [339]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime","[Action, Crime]"
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
3,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
5,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War","[Drama, War]"
...,...,...,...,...,...,...,...,...,...,...
180037,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller,[Thriller]
180038,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"
180039,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War","[Adventure, History, War]"
180040,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama,[Drama]
180041,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy,[Comedy]

In [340]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime",Action
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime",Crime
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
...,...,...,...,...,...,...,...,...,...,...
180039,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",Adventure
180039,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",History
180039,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",War
180040,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama,Drama
180041,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy,Comedy

In [341]:
unique_genres = basics['genres_split'].explode().unique()
unique_genres

array(['Action', 'Crime', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'War',
       'Sport', 'Horror', 'Sci-Fi', 'Mystery', 'Thriller', 'Adventure',
       'Musical', 'Music', 'Animation', 'Family', 'History', 'Biography',
       'Adult', 'Western', 'Short', 'Reality-TV', 'News', 'Game-Show',
       'Talk-Show'], dtype=object)

In [342]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [343]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0011801       Action
0  tt0011801        Crime
2  tt0035423       Comedy
2  tt0035423      Fantasy
2  tt0035423      Romance

In [344]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [345]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].replace(genre_map)
basics = basics.drop(columns='genres_split')

In [346]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(), 'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [347]:
genre_lookup.to_sql('genres', engine, if_exists='replace',index=False)

26

In [348]:
q = """SELECT * FROM genres LIMIT 5;"""
pd.read_sql(q, engine)

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [369]:
title_genres.head()

      tconst  Genre_ID
0  tt0011801       0.0
1        NaN       1.0
2  tt0035423       2.0
3  tt0062336       3.0
4  tt0069049       4.0

In [361]:
title_genres = pd.DataFrame({'tconst': basics['tconst'], 'Genre_ID': genre_lookup['Genre_ID']}) # had the wrong df here? 
title_genres.head()

      tconst  Genre_ID
0  tt0011801       0.0
1        NaN       1.0
2  tt0035423       2.0
3  tt0062336       3.0
4  tt0069049       4.0

In [350]:
title_genres.dtypes

tconst       object
Genre_ID    float64
dtype: object

In [351]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()

In [370]:
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "Genre_ID": Integer()}

In [372]:
title_genres

           tconst  Genre_ID
0       tt0011801       0.0
1             NaN       1.0
2       tt0035423       2.0
3       tt0062336       3.0
4       tt0069049       4.0
...           ...       ...
180037  tt9916270       NaN
180038  tt9916362       NaN
180039  tt9916428       NaN
180040  tt9916538       NaN
180041  tt9916706       NaN

[169718 rows x 2 columns]

In [371]:
title_genres.to_sql('title_genres', engine, index=False, if_exists='replace', dtype=df_schema)

169718

In [355]:
q = """SELECT * FROM title_genres LIMIT 5;"""
pd.read_sql(q, engine)

      tconst Genre_ID
0  tt0011801        0
1       None        1
2  tt0035423        2
3  tt0062336        3
4  tt0069049        4

In [356]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear           int64
endYear           float64
runtimeMinutes     object
genres             object
genre_id           object
dtype: object

In [357]:
basics = basics.drop(columns = ['titleType', 'originalTitle', 'isAdult', 'genres'])

In [366]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

In [367]:
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [368]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`, genre_id) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0011801', 'primaryTitle': 'Tötet nicht mehr', 'startYear': 2019, 'endYear': None, 'runtimeMinutes': None, 'genre_id': ['Action', 'Crime']}, {'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001, 'endYear': None, 'runtimeMinutes': '118', 'genre_id': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020, 'endYear': None, 'runtimeMinutes': '70', 'genre_id': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018, 'endYear': None, 'runtimeMinutes': '122', 'genre_id': ['Drama']}, {'tconst': 'tt0079644', 'primaryTitle': 'November 1828', 'startYear': 2001, 'endYear': None, 'runtimeMinutes': '140', 'genre_id': ['Drama', 'War']}, {'tconst': 'tt0083060', 'primaryTitle': 'The Drive to Win', 'startYear': 2019, 'endYear': None, 'runtimeMinutes': None, 'genre_id': ['Drama', 'Sport']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005, 'endYear': None, 'runtimeMinutes': '100', 'genre_id': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0089067', 'primaryTitle': 'El día de los albañiles 2', 'startYear': 2001, 'endYear': None, 'runtimeMinutes': '90', 'genre_id': ['Comedy']}  ... displaying 10 of 169715 total bound parameter sets ...  {'tconst': 'tt9916538', 'primaryTitle': 'Kuambil Lagi Hatiku', 'startYear': 2019, 'endYear': None, 'runtimeMinutes': '123', 'genre_id': ['Drama']}, {'tconst': 'tt9916706', 'primaryTitle': 'Dankyavar Danka', 'startYear': 2013, 'endYear': None, 'runtimeMinutes': None, 'genre_id': ['Comedy']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
q = """SELECT * FROM title_basics LIMIT 5;"""
pd.read_sql(q, engine)

In [ ]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz', low_memory=False)
title_ratings

In [ ]:
title_ratings.to_sql('title_ratings', engine, if_exists='replace',index=False)

In [ ]:
q = """SELECT * FROM title_ratings LIMIT 5;"""
pd.read_sql(q, engine)

In [ ]:
tmdb = pd.read_csv('Data/df_2000_2001.csv.gz', low_memory=False)
tmdb.head()

In [ ]:
tmdb.drop(columns='adult',inplace=True)
tmdb.drop(columns='backdrop_path', inplace=True)
tmdb.drop(columns='belongs_to_collection', inplace=True)
tmdb.drop(columns='genres', inplace=True)
tmdb.drop(columns='homepage', inplace=True)
tmdb.drop(columns='id', inplace=True)
tmdb.drop(columns='original_language', inplace=True)
tmdb.drop(columns='overview', inplace=True)
tmdb.drop(columns='popularity', inplace=True)
tmdb.drop(columns='poster_path', inplace=True)
tmdb.drop(columns='production_companies', inplace=True)
tmdb.drop(columns='production_countries', inplace=True)
tmdb.drop(columns='release_date', inplace=True)
tmdb.drop(columns='runtime', inplace=True)
tmdb.drop(columns='spoken_languages', inplace=True)
tmdb.drop(columns='status', inplace=True)
tmdb.drop(columns='tagline', inplace=True)
tmdb.drop(columns='video', inplace=True)
tmdb.drop(columns='vote_average', inplace=True)
tmdb.drop(columns='vote_count', inplace=True)
tmdb.drop(columns='original_title', inplace=True)
tmdb.head()

In [ ]:
tmdb.to_sql('tmdb', engine, if_exists='replace',index=False)

In [ ]:
q = """SELECT * FROM tmdb LIMIT 5;"""
pd.read_sql(q, engine)

In [ ]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

In [ ]:
title_basics.to_csv("Data/final_basics_df.csv.gz",compression='gzip',index=False)

In [ ]:
title_ratings.to_csv("Data/final_ratings_df.csv.gz",compression='gzip',index=False)

In [ ]:
title_genres.to_csv("Data/final_genres_df.csv.gz",compression='gzip',index=False)

In [ ]:
tmdb.to_csv("Data/final_tmdb_df.csv.gz",compression='gzip',index=False)